<%- include("./../template/header", {titleWeb: 'Films'}) %>

<body class="container-fluid p-0  background-default text-white ">
<%- include('./../template/navbar'); %>

<div class="d-flex justify-content-center  ">
    <h1><%= listFilms %></h1>
</div>

</body>

<%- include('./../template/footer'); %>
