
<%- include('template/header', {titleWeb: 'Index EJS'}); %>
<body class="container">
    <%- include('/template/navbar'); %>

    <h1>Say Hello to EJS <%= title %></h1>
</body>

<%- include('/template/footer'); %>
